@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: 'euclid', sans-serif;
  color: #6d6e71;
  background-color: #e7e8e9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container--end {
  align-items: flex-end;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.wrap {
  display: flex;
  align-items: center;
}

.first-title {
  font-size: 75px;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding: 150px 0 200px;
  text-align: center;
}

.first-title:after {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/diamond.png) center center no-repeat;
  width: 283px;
  height: 253px;
  left: 50%;
  margin-left: -140px;
  top: 80px;
}

.second-title {
  background-color: #b1dcf0;
  padding: 30px 0;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #00aeef;
  text-align: center;
}

.third-title {
  font-size: 36px;
  color: #ffffff;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.text {
  color: #6d6e71;
  font-size: 24px;
  line-height: 26px;
  font-family: "euclid_light";
  text-align: center;
}

.text--white {
  color: #ffffff;
}

@font-face {
  font-family: 'euclid_light';
  src: url("../fonts/EuclidFlex-Light.woff2") format("woff2"), url("../fonts/EuclidFlex-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'euclid';
  src: url("../fonts/EuclidFlex-Regular.woff2") format("woff2"), url("../fonts/EuclidFlex-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'euclid_semibold';
  src: url("../fonts/EuclidFlex-SemiBold.woff2") format("woff2"), url("../fonts/EuclidFlex-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #ffffff;
  padding: 30px 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts {
  display: flex;
  padding-top: 10px;
}

.contacts__item {
  display: flex;
  margin-right: 50px;
}

.contacts__item--footer {
  margin-right: 0;
  margin-bottom: 20px;
}

.contacts__item:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.contacts__title {
  font-size: 16px;
  color: #00aeef;
  text-transform: uppercase;
  margin-right: 15px;
}

.contacts__title--white {
  color: #ffffff;
  min-width: 95px;
}

.contacts__contact {
  font-size: 12px;
  color: #939598;
  font-family: "euclid_light";
  text-decoration: none;
}

.contacts__contact--white {
  color: #ffffff;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
}

.contacts--column {
  flex-direction: column;
}

.social {
  padding-top: 10px;
  display: flex;
}

.social__link {
  margin-right: 10px;
  display: block;
}

.social__link:hover {
  opacity: .8;
}

.social__link:last-of-type {
  margin-right: 0;
}

.social__img {
  width: 35px;
  height: 35px;
}

.social--margin {
  margin: 80px 0;
}

.nav {
  background-color: #00aeef;
  border-bottom: 5px solid #1b75bc;
}

.nav__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.nav__link {
  color: #ffffff;
  font-family: "euclid_semibold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.nav__link:hover {
  opacity: .8;
}

.gamburger {
  width: 60px;
  /* ширина */
  height: 60px;
  /* высота */
  display: none;
  /* выравнивание на флексбох */
  align-items: center;
  /* по вертикали */
  justify-content: center;
  /* по горизонтали */
  flex-direction: column;
  /* складывание полосок друг под друга */
  cursor: pointer;
}

/* Стилизация полоски */

.gamburger span {
  display: block;
  /* строчный элемент в блочный */
  transition: all 0.3s;
  /* плавность анимации */
  width: 60px;
  /* ширина полоски */
  margin: 7px 0;
  /* расстояние между полосками */
  height: 9px;
  /* высота полоски */
  background-color: #00aeef;
  /* Цвет полоски */
}

/* Вертикальное меню спрятано */

.menu {
  display: flex;
  /* технология флексбокс */
  align-items: center;
  /* выравнивание по центру */
  justify-content: center;
  /* выравнивание по центру */
  background-color: #e7e8e9;
  width: 100vw;
  /* ширина блока меню */
  z-index: 15;
  /* слой ниже кнопки */
  position: fixed;
  /* блок зафиксирован */
  left: -100vw;
  /* скрывание блока с меню */
  top: 94px;
  /* позиция от левого верха */
  transition: all 0.5s;
  /* плавное выдвижение блока */
}

.menu .contacts {
  flex-direction: column;
  background-color: #b1dcf0;
  position: absolute;
  bottom: 94px;
  width: 100%;
  padding: 40px 0;
}

.menu .contacts__item {
  flex-direction: column;
  margin-right: 0;
}

.menu .contacts__title {
  margin-right: 0;
  color: #6d6e71;
  font-size: 20px;
  line-height: 34px;
}

.menu .contacts__contact {
  color: #6d6e71;
  font-family: "euclid";
  font-size: 20px;
  line-height: 34px;
}

/* Активный класс меню видимое */

.menu-active {
  left: 0;
  /* блок с меню видимый */
}

/* Стилизация списка меню */

.menu ul {
  list-style: none;
  /* убрать маркеры */
  padding: 0;
  margin-top: 30px;
  height: 100vh;
  /* блок занимает всю высоту браузера */
}

/* Стилизация ссылок меню */

.menu .nav__link {
  display: block;
  padding: 20px;
  color: #00aeef;
  font-family: "euclid";
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

.footer {
  background-color: #00aeef;
  padding: 100px 0;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__wrap .social__img {
  width: 50px;
  height: 50px;
}

.hero__item {
  background: url(../img/hero.jpg) center center no-repeat;
  background-size: cover;
}

.hero .swiper-container--hero {
  position: relative;
}

.hero .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .swiper-pagination-bullet {
  background: url(../img/bullet.png) center center no-repeat;
  background-size: cover;
  width: 18px;
  height: 25px;
  opacity: 1;
}

.hero .swiper-pagination-bullet-active {
  background: url(../img/bullet-big.png) center center no-repeat;
  background-size: cover;
  width: 24px;
  height: 36px;
}

.hero .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.catalog {
  background-color: #ffffff;
}

.catalog__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 70px 0 35px;
}

.card {
  width: 290px;
  margin-bottom: 35px;
}

.card__title {
  background-color: #00aeef;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.card__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f2;
  padding: 20px 0;
}

.card__price {
  background-color: #b1dcf0;
  color: #00aeef;
  font-size: 21px;
  font-family: "euclid_light";
  text-align: center;
  padding: 10px 0;
}

.card__descr-title {
  background-color: #ffffff;
  color: #6d6e71;
  font-size: 14px;
  font-family: "euclid_light";
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
}

.card__descr {
  background-color: #b1dcf0;
  padding: 20px;
  color: #6d6e71;
  font-size: 14px;
  font-family: "euclid_light";
  position: absolute;
  width: 290px;
  display: none;
  z-index: 10;
}

.card:hover .card__descr {
  display: block;
}

.delivery {
  background-color: #e7e8e9;
}

.delivery__wrap {
  padding: 50px 0 150px;
}

.about {
  background: #1b75bc;
  background: radial-gradient(circle, #00a8ea 0%, #1b75bc 100%);
  padding: 150px 0 50px;
  position: relative;
}

.about:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/roset.png) center center no-repeat;
  background-size: cover;
  width: 252px;
  height: 251px;
  left: 50%;
  margin-left: -126px;
  top: -125px;
}

.feedback {
  background-color: #ffffff;
  padding-bottom: 150px;
}

.feedback__item {
  max-width: 500px;
  min-width: 500px;
}

.feedback__header {
  display: flex;
  background-color: #b1dcf0;
  align-items: center;
  padding: 10px 20px;
}

.feedback__avatar {
  margin-right: 20px;
}

.feedback__title {
  font-size: 27px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.feedback__star-wrap {
  margin-left: auto;
}

.feedback__descr-wrap {
  padding: 30px 20px;
  background-color: #e7e8e9;
  min-height: 200px;
  position: relative;
}

.feedback__descr-wrap:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #e7e8e9 transparent transparent transparent;
  bottom: -50px;
  left: 50px;
}

.feedback__descr {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #58595b;
}

.feedback__src {
  color: #6d6e71;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 27px;
  line-height: 50px;
  text-align: right;
  text-transform: uppercase;
}

.swiper-button-next {
  top: 120px;
}

.swiper-button-next:after {
  width: 50px;
  height: 150px;
  content: '';
  position: absolute;
  background: url(../img/arrow-r.svg) center center no-repeat;
  background-size: cover;
}

.swiper-button-prev {
  top: 120px;
}

.swiper-button-prev:after {
  width: 50px;
  height: 150px;
  content: '';
  position: absolute;
  background: url(../img/arrow-r.svg) center center no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.news__item {
  max-width: 780px;
  min-width: 780px;
  display: flex;
}

.news__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 30px;
}

.news__descr-wrap {
  display: flex;
  flex-direction: column;
}

.news__title {
  background-color: #00aeef;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  padding: 15px 10px;
}

.news__descr {
  font-size: 14px;
  color: #6d6e71;
  font-family: "euclid_light";
  padding: 15px 10px;
  background-color: #b1dcf0;
}

.news .swiper-container--news {
  padding: 200px 0;
}

.news .swiper-button-next--news {
  top: 320px;
  right: 10px;
  left: auto;
  position: absolute;
  cursor: pointer;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.news .swiper-button-next--news:after {
  width: 50px;
  height: 150px;
  content: '';
  position: absolute;
  background: url(../img/arrow-r.svg) center center no-repeat;
  background-size: cover;
}

.news .swiper-button-prev--news {
  top: 320px;
  left: 10px;
  right: auto;
  position: absolute;
  cursor: pointer;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.news .swiper-button-prev--news:after {
  width: 50px;
  height: 150px;
  content: '';
  position: absolute;
  background: url(../img/arrow-r.svg) center center no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .first-title {
    font-size: 48px;
    padding-bottom: 0;
  }

  .header {
    padding: 15px 0;
  }

  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
  }

  .header__wrap {
    align-items: center;
  }

  .contacts__item {
    flex-direction: column;
    align-items: center;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 34px;
  }

  .contacts__title--white {
    margin-right: 0;
    min-width: auto;
  }

  .contacts__contact {
    font-family: "euclid";
    font-size: 20px;
    line-height: 34px;
  }

  .contacts__wrap {
    align-items: center;
  }

  .contacts--header {
    display: none;
  }

  .social__img {
    width: 45px;
    height: 45px;
  }

  .social--margin {
    display: none;
  }

  .nav {
    display: none;
  }

  .gamburger {
    display: flex;
  }

  .footer {
    padding: 20px 0 50px;
  }

  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrap .social {
    padding: 30px 0 20px;
  }

  .hero__item {
    min-height: 425px;
  }

  .hero .swiper-container--hero {
    min-height: 425px;
  }

  .hero.padding {
    padding-top: 95px;
  }

  .catalog__wrap {
    justify-content: center;
  }

  .feedback {
    padding-bottom: 80px;
  }

  .feedback__item {
    max-width: 350px;
    min-width: 350px;
  }

  .feedback__avatar {
    max-width: 40px;
  }

  .feedback__title {
    font-size: 22px;
  }

  .feedback__star {
    max-width: 15px;
  }

  .feedback .swiper-container--feedback {
    margin-top: 50px;
  }

  .news__item {
    max-width: 350px;
    min-width: 350px;
    flex-direction: column;
  }

  .news__title {
    line-height: 36px;
  }

  .news .swiper-container--news {
    padding: 100px 0;
  }
}