.feedback{
    background-color: $white;
    padding-bottom: 150px;

    @include tablets{
        padding-bottom: 80px;
    }

    &__item{
        max-width: 500px;
        min-width: 500px;

        @include tablets{
            max-width: 350px;
            min-width: 350px;
        }
    }

    &__header{
        display: flex;
        background-color: $lightblue;
        align-items: center;
        padding: 10px 20px;
    }

    &__avatar{
        margin-right: 20px;

        @include tablets{
            max-width: 40px;
        }
    }

    &__title{
        font-size: 27px;
        color: $white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;

        @include tablets{
            font-size: 22px;
        }
    }

    &__star-wrap{
        margin-left: auto;
    }

    &__star{

        @include tablets{
            max-width: 15px;
        }
    }

    &__descr-wrap{
        padding: 30px 20px;
        background-color: $lightgray;
        min-height: 200px;
        position: relative;

        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 50px 0 0;
            border-color: $lightgray transparent transparent transparent;
            bottom: -50px;
            left: 50px;
        }
    }

    &__descr{
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 18px;
        color: $gray-feedback;
    }

    &__src{
        color: $darkgray;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 27px;
        line-height: 50px;
        text-align: right;
        text-transform: uppercase;
    }

    .swiper-container--feedback{

        @include tablets{
            margin-top: 50px;
        }
    }
}

.swiper-button-next{
    top: 120px;

    &:after{
        width: 50px;
        height: 150px;
        content: '';
        position: absolute;
        background: url(../img/arrow-r.svg) center center no-repeat;
        background-size: cover;
    }
}

.swiper-button-prev{
    top: 120px;

    &:after{
        width: 50px;
        height: 150px;
        content: '';
        position: absolute;
        background: url(../img/arrow-r.svg) center center no-repeat;
        background-size: cover;
        transform: rotate(180deg);
    }
}