@font-face {
    font-family: 'euclid_light';
    src: url('../fonts/EuclidFlex-Light.woff2') format('woff2'),
         url('../fonts/EuclidFlex-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid';
    src: url('../fonts/EuclidFlex-Regular.woff2') format('woff2'),
         url('../fonts/EuclidFlex-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_semibold';
    src: url('../fonts/EuclidFlex-SemiBold.woff2') format('woff2'),
         url('../fonts/EuclidFlex-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}