//colors
$white: #ffffff;
$black: #000000;

$darkgray: #6d6e71; //описание в карточках, основной текст

$gray-feedback: #58595b; //текст в отзывах
$gray-card: #f1f1f2; //фон в карточках

$gray: #939598; //телефоны и тд

$lightgray: #e7e8e9; //общий фон и тд

$blue: #00aeef;
$darkblue: #1b75bc;
$lightblue: #b1dcf0;

//fonts
$font: 'euclid';
$lightfont: 'euclid_light';
$boldfont: 'euclid_semibold';
